.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.left h4 {
    font-weight: 600;
    font-size: 18px;
}

.right {
    padding-top: 56px;
}
.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}
.field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.field p {
    font-size: 14px;
}
.labelContainer {
    display: flex;
    gap: 8px;
}
.labelContainer svg {
    position: relative;
    top: 2px;
}
.reward {
    display: flex;
    align-items: center;
}
.buttons {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}
.buttons button {
    height: 56px !important;
    border-radius: 16px !important;
    text-transform: initial !important;
    font-weight: 700 !important;
    background-color: transparent !important;
}
.percentButns {
    margin-top: 8px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.percentButns button {
    height: 36px !important;
    width: 68px !important;
    border-radius: 12px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}
.miniTableHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-radius: 16px;
    padding: 16px;
    box-sizing: border-box;
}
.miniTableHeader label {
    width: 33%;
    font-size: 12px !important;
}
.miniTableHeader label:last-child {
    text-align: right;
}
.miniTableItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}
.miniTableItem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}
.miniTableItem div {
    width: 33%;
}
.miniTableToken {
    display: flex;
    align-items: center;
    gap: 6px;
}
.miniTableToken img { 
    width: 20px;
}
.miniTableItem div:last-child {
   text-align: right;
}


@media screen and (max-width: 1366px) {
    .left {
        padding-top: 24px;
    }
    .right {
        padding-top: 24px;
    }
}

@media screen and (max-width: 1280px) {
    .buttons {
        flex-direction: row;
        gap: 16px;
    }
    .buttons button {
        width: 100%;
    }
}