.main {
    width: 100%;
}
.tabs {

}
.tabs button {
    padding: 0 !important;
}
.tables {
    display: flex;
    gap: 60px;
}
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}