.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(8px);
    animation: fade .3s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

@keyframes fade {
    from { backdrop-filter: blur(0px) }
    to { backdrop-filter: blur(8px) }
}