.main {
    border-radius: 16px !important;
    width: 48px;
    height: 48px;
    padding: 0 !important;
}
@media screen and (max-width: 350px) {
    .main {
        width: 36px;
        height: 36px;
        border-radius: 12px !important;
    }
}