.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left {
    width: 62%;
    padding: 16px 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 56px;
}
.links {
    display: flex;
    align-items: center;
    gap: 40px;
}
.links a {
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition-duration: .3s;
}
.links a:hover {
    color: #eb7773;
}
.links a.active {
    color: #DA3832;
}


.right {
    width: 38%;
    padding: 12px 40px;
    box-sizing: border-box;
    background-color: #23242F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right svg {
    color: white;
}
.themeBut {
    width: 32px;
    height: 32px;
    background-color: #2C2D3A !important;
}
.curs {
    background-color: #DA3832;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    box-sizing: border-box;
    border-radius: 40px; 
}
.walletButContainer {
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: #2C2D3A;
    padding-left: 20px;
    box-sizing: border-box;
    gap: 16px;
}
.bsc {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.bsc p {
    font-size: 14px;
    font-weight: 400;
}
.statusCircle {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #F3A953;
}
.walletBut {
    background: #3B3C4E !important;
    color: white !important;
    text-transform: initial !important;
    border-radius: 40px !important;
    padding: 10px 24px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    height: 100% !important;
}